.flexWrap {
    display: flex;
    overflow: auto; /*scroll horizontal*/
    flex-wrap: wrap;
    /* flex-direction: row-reverse;
    flex-wrap: wrap-reverse; */
    flex-flow: row-reverse wrap-reverse; /* propiedad resumidad de flex-direction flex-wrap*/
}